a.navs{
    font-family: "apex_newbold";
}

.photos{
    font-family: "apex_newbold";
    font-size: 60px;
}

h2.mediador{
    padding-bottom: 20px;
    color: white;
    font-size: 40px;
    font-family: "apex_newbold";
}

h3.icono{
    color: white;
    font-size: 20px;
    font-family: "Myriad Pro Bold";
}

.eventos{
    font-family: "apex_newbook";
}

.texto{
    color: white;
    font-size: 18px;
    font-family: "Myriad Pro Regular";
}

.bTexto{
    font-size: 20px;
    font-family: "Myriad Pro Bold";
}

.pIco{
    margin-bottom: 28px
}

hr.mediador{
    color: #F8D653;
}

img.profile {
    height: 257;
    width: 202;
}

/* --- Parallax --- */

    #about { 
        background: url(../img/logo%20verde.png) 50% 0 fixed;
        background-position: center;
        background-color: #652D90;
        background-repeat: no-repeat;
        height: auto;  
        margin: 0 auto; 
        width: 100%; 
        position: relative; 
        box-shadow: 0 0 50px rgba(0,0,0,0.8);
        padding: 100px 0;
    }
    #services {
        background: url(../img/helping-hand.jpg) 50% 0 fixed;
        background-position: center;
        background-size: cover;
        background-color: #652D90;
        background-repeat: no-repeat;
        height: auto;  
        margin: 0 auto; 
        width: 100%; 
        position: relative; 
        box-shadow: 0 0 50px rgba(0,0,0,0.8);
        padding: 100px 0;
        background-color: #44BA8D;
    }
    #beneficiarios{
        background: url(../img/logo%20azul.png) 50% 0 fixed;
        background-position: center;
        background-color: #652D90;
        background-repeat: no-repeat;
        height: auto;  
        margin: 0 auto; 
        width: 100%; 
        position: relative; 
        box-shadow: 0 0 50px rgba(0,0,0,0.8);
        padding: 100px 0;
        box-shadow: 0 0 50px rgba(0,0,0,0.8);
        background-color: #EE3E6A;
    }

    #eventos{
        height: auto;  
        margin: 0 auto; 
        width: 100%; 
        position: relative; 
        box-shadow: 0 0 50px rgba(0,0,0,0.8);
        box-shadow: 0 0 50px rgba(0,0,0,0.8);
    }

    #contact{
        box-shadow: 0 0 50px rgba(0,0,0,0.8);
        background-color: #F8D653;
    }     

/*** FONTS ***/

@font-face {
    font-family: 'apex_newbold';
    src: url('fonts/apexnew-bold-webfont.eot');
    src: url('fonts/apexnew-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/apexnew-bold-webfont.woff2') format('woff2'),
         url('fonts/apexnew-bold-webfont.woff') format('woff'),
         url('fonts/apexnew-bold-webfont.ttf') format('truetype'),
         url('fonts/apexnew-bold-webfont.svg#apex_newbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apex_newbook';
    src: url('fonts/apexnew-book-webfont.eot');
    src: url('fonts/apexnew-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/apexnew-book-webfont.woff2') format('woff2'),
         url('fonts/apexnew-book-webfont.woff') format('woff'),
         url('fonts/apexnew-book-webfont.ttf') format('truetype'),
         url('fonts/apexnew-book-webfont.svg#apex_newbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('fonts/Myriad Pro Regular'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Bold';
font-style: normal;
font-weight: normal;
src: local('fonts/Myriad Pro Bold'), url('fonts/MYRIADPRO-BOLD.woff') format('woff');
}